{% extends 'usuarios/modeloheredable.html' %} {% load static %} {% block title %}
Formulario - Editar Perfil {% endblock title %} {% block main %}
<style>
  body {
    margin-left: 20px;
    margin-right: 20px;
    background-size: cover;
  }

  td {
    padding: 10px;
    line-height: 1.5;
  }
</style>


<h1 style="text-align: center;"> Error, no podes ingresar donde estas tratando </h1>

<img style="display: block; margin-left: auto; margin-right: auto;" width="600" height="400" src = 'media\imagenes\funny-cute-dog-beagle-looks-260nw-2057440388.jpg'>

<p>     </p>

{% endblock main %}