{% extends 'usuarios/modeloheredable.html' %} {% load static %} {% block title %}
Formulario - Editar Perfil {% endblock title %} {% block main %}
<style>
  body {
    margin-left: 20px;
    margin-right: 20px;
    background-size: cover;
  }

  td {
    padding: 10px;
    line-height: 1.5;
  }
</style>

<h1> Conocenos un poquito mas</h1>

<p style="text-align: justify;"> En un rincón del ciberespacio, Nicolas y Virginia se unieron para crear una página web dedicada a la adopción de animales. 
    Su amor y pasión por los animales los impulsaron a construir un espacio virtual lleno de esperanza y compasión. 
    Como verdaderos amantes de los animales, su objetivo es conectar a las criaturas necesitadas con personas que desean brindarles un hogar amoroso.
</p>

<p style="text-align: justify;"> Desde que eran niños, Nicolas y Virginia demostraron un amor innato por los animales. 
    Crecieron rodeados de mascotas que alegraban sus días y les enseñaban el verdadero valor del compañerismo. 
    Sin embargo, también experimentaron de cerca la tristeza de ver animales abandonados y sin hogar. 
    Esta experiencia dejó una huella profunda en sus corazones y los motivó a marcar la diferencia.
</p>

<p style="text-align: justify;"> Con dedicación y esfuerzo, Nicolas y Virginia unieron sus habilidades para crear una página web que se convirtió en un refugio virtual. 
    Trabajan incansablemente para proporcionar información completa y fotografías cautivadoras de los animales disponibles para su adopción. 
    Su objetivo es mostrar el amor y la felicidad que estos seres pueden brindar, creando así una conexión especial entre las personas y los animales necesitados.
</p>

<p style="text-align: justify;"> Nicolas y Virginia se sumergen en historias conmovedoras de animales rescatados y de personas que encuentran la alegría de la adopción. 
    Cada día, su dedicación y compromiso transforman vidas, tanto para los animales que encuentran un hogar como para las personas que descubren el amor incondicional. 
    Este proyecto está impulsado por el amor puro y sincero que sienten por los animales, un amor que se refleja en cada aspecto de su página web y en cada adopción exitosa 
    que logran facilitar.
</p>

<img style="display: block; margin-left: auto; margin-right: auto;" width="1000" height="750" src = 'media\imagenes\pareja.jpg'>
<p>     </p>
{% endblock main %}