{% extends 'usuarios/modeloheredable.html' %}

{% load static %}

{% block title %}
    Editar perfil
{% endblock title %}

{% block main %}

<style>
    body {
        margin-left: 20px;
        margin-right: 20px;
        background-size: cover;
    }
    td {
            padding: 10px;
            line-height: 1.5;
        }
</style>

<form method="POST">
    {% csrf_token  %}
    ¿Estás seguro que deseas borrar "{{ object.username }}"?
    <input type="submit" value="Confirmar" />
</form>


{%endblock main%}