{% extends 'usuarios/modeloheredable.html' %} {% load static %} {% block title %}
Formulario - Editar Perfil {% endblock title %} {% block main %}
<style>
  body {
    margin-left: 20px;
    margin-right: 20px;
    background-size: cover;
  }

  td {
    padding: 10px;
    line-height: 1.5;
  }
</style>

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <h2>Editar Usuario</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar cambios</button>

  </form>

{% endblock main %}


