{% extends 'usuarios/modeloheredable.html' %} {% load static %} {% block title %}
Formulario - Editar Perfil {% endblock title %} {% block main %}
<style>
  body {
    margin: 20px;
    background-size: cover;
  }

  td {
    padding: 10px;
    line-height: 1.5;
  }
</style>

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <h2>Editar Usuario</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar cambios</button>
    <a class="btn btn-primary" href="{% url 'editarContrasena' %}" style="background-color: var(--bs-orange); border-color: var(--bs-orange);">Cambiar contraseña</a>
    <a class="btn btn-primary" href="{% url 'cambiar_avatar' %}" style="background-color: var(--bs-orange); border-color: var(--bs-orange);">Cambiar Avatar</a>

  </form>

{% endblock main %}


